* { 
  font-family: 'Trebuchet MS', sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alert-success { 
  background-color: #94ff97; color: black; 
}

.login-box {
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.15);
}

.pill-trans { 
  border: 1px solid white;
  border-radius: 25px;
}

.image-block {
  object-fit: cover;
  height: 200px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width:200px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
